PORT=4000
MONGO_URI=mongodb+srv://nam29032003111_db_user:fKgyyCh6HUAsR18x@cluster0.xqcqima.mongodb.net/mobile-puzzle-3x3?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=change-me
CLIENT_ORIGIN=http://localhost:5173
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
